<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Zavos\TrafficApi\Api\Data\ShipPositionsInterface"
                type="Zavos\TrafficApi\Model\ShipPositions" />

    <preference for="Zavos\TrafficApi\Api\ShipPositionsRepositoryInterface"
                type="Zavos\TrafficApi\Model\ShipPositionsRepository" />

    <preference for="Zavos\TrafficApi\Api\Data\FiltersInterface"
                type="Zavos\TrafficApi\Model\Filters" />

    <preference for="Zavos\TrafficApi\Api\Data\UniqueFilterInterface"
                type="Zavos\TrafficApi\Model\UniqueFilter" />

</config>
